@model List<WNWN.Models.Ingredients>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: teal;
        }

        body {
            background-color: teal;
        }

        h1 {
            color: black;
        }

        p {
            color: black;
        }
    </style>
</head>
<body>

    <h1>Ingredient List</h1>

    <p>
        <a asp-controller="Ingredients" asp-action="Add">Add Ingredient</a>
    </p>


    <p>
        <a asp-controller="Ingredients" asp-action="Delete">Delete Ingredient</a>
    </p>

    @if (Model.Count == 0)
    {
        <p>Your digital pantry is empty.</p>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Food Group
                </th>
                <th>
                    Weight
                </th>
                <th>
                    Units
                </th>
                <th>
                    Expiration Date
                </th>
            </tr>
            @foreach (var ing in Model)
            {
                <tr>
                    <td>@ing.Id</td>
                    <td>@ing.Name</td>
                    <td>@ing.Groups</td>
                    <td>@ing.Weight</td>
                    <td>@ing.Units</td>
                    <td>@ing.ExpirationDate</td>
                </tr>
            }
        </table>
    }
</body>
</html>